@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.carousel-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    white-space: nowrap;
}

.carousel {
    display: flex;
    width: 200%;
    animation: scroll 20s linear infinite;
}

.carousel img {
    width: 100px;
    margin: 0 10px;
}

/* Background Colors */
.hero {
    background-color: #FBF6F0; /* Light Blue */
}

.partners {
    background-color: #FBF6F0; /* Light Gray */
}

.footer {
    background-color: #ffffff; /* Dark Gray */
}

/* New Section Styles */
.image-quote {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #ffffff; /* Light background color for this section */
    width: 100vw;  /* Ensure the section takes full viewport width */
    margin-left: calc(-50vw + 50%);  /* Align to the full width of the page */
    box-sizing: border-box;  /* Include padding in the width calculation */
}

.image-quote-container {
    display: flex;
    width: 100%;
    max-width: 1200px; /* Optional, adjust the container size */
    margin: 0 auto;
}

.image {
    flex: 1;
    margin-right: 20px; /* Space between image and quote */
}

.image img {
    width: 100%;
    height: auto;
}

.quote {
    flex: 1;
    font-style: italic;
}

blockquote {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

footer {
    margin-top: 10px;
    font-size: 1rem;
    text-align: right;
    color: #555;
}
